<!DOCTYPE html>
<html lang="pt-br">

 <%- include('./parciais/head.ejs') %>
<body>
   
    <!-- antes só tinha essa nav abaixo dai pediu para apagar ela mas, não vou apagar vou comentar testa e veja que vai sumir a nav de http://localhost:3001/blog/criar-->
    <!-- <nav>
        <div class="titulo-site">
            <a href="/"><h1>Blog</h1></a>
            <p>Site</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/sobre">Blog</a>Sobre</li>
            <li><a href="/blog/criar">Novo Blog</a></li>
        </ul>
    </nav>  -->


    <%- include('./parciais/nav.ejs') %>
    <div class="criar-conteudo-blog">
        <form>
            <label for="titulo">Título do blog</label>
            <input type="text" id="titulo" required>
            <label for="texto-curto">Texto curto do Blog</label>
            <input type="text" id="texto-curto" required>
            <label for="conteudo">Conteúdo do Blog</label>
            <textarea id="conteudo" required></textarea>
            <button>Enviar</button>
        </form>
    </div>
    <%- include('./parciais/footer.ejs') %>
</body>
</html>