<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Aula de Node.js</title> -->
    <title>Blog</title>
</head>
<body>
    <!-- <h1>Index</h1>
    <h2>Aula de Node.js do meu negócio</h2>
    <nav>
        <a href="/">Homepage</a>
        <a href="/sobre">Página Index</a>
    </nav> -->

    <nav>
        <div class="titulo-site">
            <a href="/"><h1>Blog</h1></a>
            <p>Site</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/sobre">Blog</a>Sobre</li>
            <li><a href="/blog/criar">Novo Blog</a></li>
        </ul>
    </nav>

    <div class="conteudo-blog">
        <h2>todo Blog</h2>
    </div>
    
</body>
</html>