<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula de Node.js</title>
</head>
<body>
    <h1>Sobre</h1>
    <h2>Aula de Node.js novamene</h2>
    <nav>
        <a href="/">Homepage</a>
        <a href="/sobre">Essa é a Página Sobre</a>
    </nav>
    
</body>
</html> -->

<!DOCTYPE html>
<html lang="pt-br">

 <%- include('./parciais/head.ejs') %>
<body> 
<!-- antes só tinha essa nav abaixo dai pediu para apagar ela mas, não vou apagar vou comentar testa e veja que vai sumir a nav de http://localhost:3001/sobre-->
    <!-- <nav>
        <div class="titulo-site">
            <a href="/"><h1>Blog</h1></a>
            <p>Site</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/sobre">Blog</a>Sobre</li>
            <li><a href="/blog/criar">Novo Blog</a></li>
        </ul>
    </nav> -->
    <%- include('./parciais/nav.ejs') %>
    <div class="conteudo-blog">
        <h2>Tela Sobre a Empresa</h2>
    </div>
    <%- include('./parciais/footer.ejs') %>
</body>
</html>